//variables
$bgBlue: #008ad1
$bgGreenLight: #48b950
$bgGreenDark: #42ad49
$textBlue: #0091de
$bgBlueMenu: #0aa5f5
$textGreyDark: #434a4c
$textGreyLight: #68767d

$general-transition: all .3s ease-in-out

+font("roboto-light", roboto-light)
+font("roboto-regular", roboto-regular)
+font("roboto-bold", roboto-bold)
+font("raleway-light", raleway-light)
+font("raleway-semibold", raleway-semibold)

=h300
	font-family: "roboto-light", Helvetica, Arial, sans-serif

=h400
	font-family: "roboto-regular", Helvetica, Arial, sans-serif

=h700
	font-family: "roboto-bold", Helvetica, Arial, sans-serif

h1
	font-size: 28px
	color: $textGreyDark
	+h700

	span
		padding-left: 7px
		font-size: 16px
		color: $textGreyLight
		+h300

h2
	font-size: 22px
	color: $textGreyDark
	+h300

h3
	font-size: 18px
	color: $textGreyDark
	+h700

body
	display: flex
	flex-direction: column
	min-width: 1060px
	font-size: 13px
	line-height: 1.4
	color: $textGreyDark
	+h400

a
	display: inline-block
	text-decoration: none
	cursor: pointer
	transition: $general-transition

	&:hover
		text-decoration: underline

img
	display: inline-block
	width: 100%

.i-mb-22
	margin-bottom: 22px
	
// common blocks

.i-bold
	+h700

.i-upper
	text-transform: uppercase

.atoms
	width: 1100px
	margin: 10px auto

.atom
	margin: 10px 0
	padding: 10px
	border: 1px solid #2c2c2c

.copyright

	&__descr
		font-size: 14px
		color: #fff
		+h300

.banner

	&__name
		display: flex
		margin-bottom: 6px
		font-size: 10px
		color: $textGreyLight
		+h300

.discussion
	margin-top: 22px
	margin-bottom: 60px

	.section-title
		margin-bottom: 5px

.section-title
	margin-bottom: 10px

.row

	&__wrap
		padding-bottom: 24px
		padding-top: 29px
		display: flex
		justify-content: space-between
		border-bottom: 1px solid #eaeaea

.raiting
	margin-top: 5px
	display: flex
	flex-direction: row
	align-items: center

	&__text
		margin: 0 7px 5px 0

.block-info
	width: 560px
	display: flex
	flex-direction: column
	align-items: center
	margin: 0 auto

.programs
	display: flex
	flex-direction: row
	justify-content: space-around
	flex-wrap: wrap

	&__el
		margin-right: 30px
		margin-bottom: 30px

		&:nth-child(8)
			margin-right: 0

		&:last-child
			margin-right: 0

	&__link
		width: 42px
		height: 42px

.download
	width: 571px
	margin: 0 auto
	text-align: center

	&__name
		font-size: 28px
		line-height: .8
		+h700

	&__descr
		margin-top: 20px
		margin-bottom: 58px
		font-size: 14px
		+h300

	&__img
		max-width: 320px

.error
	display: flex
	flex-direction: column
	align-items: center
	width: 550px
	margin: 0 auto
	color: #FFF

	&__name
		font-size: 100px
		line-height: .8
		margin-bottom: 15px

	&__descr
		margin-bottom: 35px
		font-size: 22px
		+h300

